<div class='main'>
  <button type="button" 
          onclick=findNearestStation()>
          Nearest PATH Station
  </button>
  <div id='resp'><div>
<div>

<script>
function findNearestStation() {
  function success(position) {
    $.ajax({
      url: '/station',
      data: {
        latitude: position.coords.latitude, 
        longitude: position.coords.longitude
        },
      success: function(resp){ 
        $('#resp').html(resp);
        },
      error: function(){
        alert("server error")
      }
    });
  }
  function error() {
    alert("Your location couldn't be determined");
  }
  
  if (!navigator.geolocation) {
    alert("Your browser doesn't support geolocation");
  }else{
    navigator.geolocation.getCurrentPosition(success, error);
  }
  
}

</script>