// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  margin: auto;
  width: 400px;
  text-align: center;
}

button {
  display: block;
  margin: 40px auto;
  font-size: 30px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: none;
}

button:focus {
  outline: none;
}

p {
  font-size: 30px;
  font-family: sans-serif;
  padding: 5px;
}

strong {
  font-weight: bold;
}

